{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<div class="row page justify-content-center mt-5">
  <article class="{{ .Title | urlize }}-page col-lg-8">
    <h1 class="title">
      {{ .Title | markdownify }}
    </h1>
    {{ with .Date }}
      <time class='d-block mb-3' datetime='{{.}}'>{{. | time.Format ":date_long" }}</time>
    {{ end }}

    {{ if .Params.toc }}
      <button class='btn btn-sm btn-outline-primary' type='button' data-bs-toggle='collapse' data-bs-target='#toc' role='button' aria-expanded='false' aria-controls='toc'>Table of Contents</button>
      <div class='collapse border rounded bg-light' id='toc'>
        {{ .TableOfContents }}
      </div>
      <div class='mb-3'></div>
    {{ end }}

    {{ .Content }}

    {{ if .IsTranslated }}
    <h4>{{ i18n "translations" }}</h4>
    <ul>
              {{ range .Translations }}
              <li><a href="{{ .Permalink }}">
      {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
              </a></li>
              {{ end }}
    </ul>
    {{ end }}
  </article>
</div>

{{ end }}
