{{ define "main" }}
  <!-- <h1>{{ .Title }}</h1> -->
  {{ .Content }}


  <h2>General Information</h2>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice "General Information") }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  <h4>All Pages</h4>
  <ul>
  {{ range .Pages }}
    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    <!-- {{ .Summary }} -->
  {{ end }}
  </ul>


    <hr/>
    {{ if .IsTranslated }}
      <h4>{{ i18n "translations" }}</h4>
      <ul>
        {{ range .Translations }}
          <li><a href="{{ .Permalink }}">
              {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
            </a></li>
          {{ end }}
      </ul>
    {{ end }}

{{ end }}
